.wrapper {
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    background-color: black;
}

.item {
    text-decoration: none;
    width: 200px;
    display: flex;
    justify-content: center;
}

.item:hover {
    transform: scale(1.2);
}

.item:hover {
    cursor: pointer;
}