.widgets__wrapper {
    padding: 5rem;
    width: 70vw;
    color: rgb(29, 29, 29);
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    align-items: flex-start;
}

.widgets__item {
    width: 400px;
    height: 150px;
    border: 1px solid black;
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.747);
    background-color: rgb(0, 0, 0);
}