.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.568);
  min-height: 4.5rem;
}

.header__logo {
  width: 10rem;
}

.header__logo-area {
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  min-width: 13rem;
}

.header__menu-area {
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: wheat;
  padding: 0rem 2rem;
  cursor: pointer;
  min-width: 13rem;
}

.header__settings-area {
  display: flex;
  align-items: center;
  color: wheat;
  padding: 0rem 2rem;
  min-width: 15rem;
}

.header__settings-dropdown{
  display: block;
  position: absolute;
  padding: 16px 16px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: black;
  border: 1px solid wheat;
}


.header__menu-area-hamburger {
  display: flex;
  align-items: center;
  color: wheat;
  justify-content: center;
  /* padding: 0rem 2rem; */
  cursor: pointer;
}

.header__menu-area-items {
  display: flex;
  align-items: center;
  color: wheat;
  padding: 0rem 2rem;
  cursor: pointer;
}

.header__item {
  text-decoration: none;
  width: 200px;
  display: flex;
  justify-content: center;
}

.header__item:hover {
  cursor: pointer;
}

h4:hover {
  transform: scale(1.1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  /* background-color: #333; */
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: wheat;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}

.dropbtn{
  border-radius: 50%;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  color: wheat;
  width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content span {
  color: wheat;
  padding: 12px 0px;
  text-decoration: none;
  display: block;
  text-align: center;
  cursor: pointer;
}

.dropdown-content:hover{
  font-weight: 1000;
}


.dropdown:hover .dropdown-content {
  display: block;
}

@media (min-width: 300px) and (max-width: 1100px) {
  .header__logo-area {
    width: 100%;
    justify-content: center;
  }

  .header__menu-area {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header__menu-area-items {
    flex-wrap: wrap;
  }

  .header__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
  }

  .header__item {
    display: flex;
    width: 100vw;
    border-top: 1px solid rgba(245, 222, 179, 0.521);
  }

  .header__menu-area-hamburger {
    padding: 0rem 3rem;
  }
}

