.widgetspage__wrapper {
  /* max-width: 900px; */
  color: rgb(80, 65, 37);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.widgetspage__title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2.5rem;
}

.widgetspage__col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 45%;
  max-width: 900px;
  /* border: 2px solid red; */
}

.chart__col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 45%;
  max-width: 900px;
  /* border: 2px solid red; */
  height: 900px;
}

h3 {
  margin: none;
  padding: none;
}

.genre_page__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid blue; */
}

.genre_page__title-area {
  display: flex;
  height: 100px;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  /* border: 2px solid rgb(10, 98, 175) */
}

.genre_page__back {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* border: 2px solid red; */
  width: 2rem;
  margin: 1rem 2rem;
}

.genre_page__back-icon {
  color: wheat;
  font-size: larger;
  font-weight: 900;
  background-color: black;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.genre_page__back-icon:hover {
  cursor: pointer;
}

.genre_page__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  width: 97%;
  margin: 1rem;
  padding-right: 2rem;
}

.genre_page__body {
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid red; */
  width: 100%;
  margin: 1rem;
  height: 32rem;
}

@media (min-width: 300px) and (max-width: 1100px) {
  .widgetspage__wrapper {
    justify-content: center;
  }

 
}
