.widgetspage__wrapper {
  color: rgb(80, 65, 37);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.widgetspage__col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 49%;
  width: 49%;
  max-width: 1000px;
  /* border: 2px solid red; */
}

.widgetspage__title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  margin-top: 0.75rem;
  /* border: 2px solid red; */
}

.widgetspage__body {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 800px;
  /* border: 2px solid red; */
}

.widgetspage__title p {
  background-color: black;
  padding: 1rem;
  color: wheat;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.747);
  border-radius: 40px;
  /* margin-top: 1rem; */
  padding: 10px 40px;

}

.chart__col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: flex-start; */
  min-width: 700px;
  max-width: 47%;
  /* border: 2px solid red; */
  height: 100%;
  /* border: 5px solid yellow; */
}

.chart__item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  /* border: 5px solid green; */
}

.chart__body {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    min-height: 800px;
    /* border: 2px solid red; */
}

h3 {
  margin: none;
  padding: none;
}

.genre_page__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid blue; */
}

.genre_page__title-area {
  display: flex;
  height: 100px;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  /* border: 2px solid rgb(10, 98, 175) */
}

.genre_page__back {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* border: 2px solid red; */
  width: 2rem;
  margin: 1rem 2rem;
}

.genre_page__back-icon {
  color: wheat;
  font-size: larger;
  font-weight: 900;
  background-color: black;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.genre_page__back-icon:hover {
  cursor: pointer;
}

.genre_page__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  width: 97%;
  margin: 1rem;
  padding-right: 2rem;
}

.genre_page__body {
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid red; */
  width: 100%;
  margin: 1rem;
  height: 32rem;
}

@media (min-width: 200px) and (max-width: 1000px) {
  .widgetspage__wrapper {
    justify-content: center;
  }

  .widgetspage__col {
    width: 100%;
    /* border: 2px solid red; */
  }

  .chart__col {
    display: none;
  }

 
}
