.widgetspage__wrapper {
  /* max-width: 900px; */
  color: rgb(80, 65, 37);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.widgetspage__title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2.5rem;
}

.widgetspage__col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 45%;
  max-width: 900px;
  border: 2px solid red;
}

.chart__col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 45%;
  max-width: 900px;
  border: 2px solid red;
}

h3 {
  margin: none;
  padding: none;
}

@media (min-width: 300px) and (max-width: 1100px) {
  .widgetspage__wrapper {
    justify-content: center;
  }

 
}
