.videowrapper {
    width: 100%;
    /* height: 90vh; */
    max-height: calc(100vh);
    overflow: hidden;
    background-color: black;
}

.videocontent {
    min-width: 100%;
    min-height: 100vh;
}

.get-started__wrapper {
    position: fixed;
    width: 30rem;
    height: 40rem;
    left: calc(50vw - 15rem);
    top: calc(35rem - 25rem);
    z-index: 1;
    background-color: black;
    border: 2px solid wheat;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.767);
    border-radius: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.landingpage-logo__wrapper {
    display: flex;
    justify-content: center;
    min-width: 100%;
}

.landingpage-logo__content {
    height: 2rem;
    width: 10rem;
}

.landingpage-text__wrapper {
    display: flex;
    width: 80%;
    justify-content: center;
    padding: 0 1.5rem;
}

.landingpage-text__content {
    color: wheat;
    font-size: 1rem;
}

.landingpage-login__wrapper {
    display: flex;
    justify-content: center;
}

.landingpage-login__content {
    color: wheat;
}