.chart__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.chart__container {
  width: 95%;
  background-color: black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.747);
  border-radius: 15px;
  /* border: 4px solid red; */


}

.chart__chart {
  padding: 1rem;
}

@media (min-width: 200px) and (max-width: 800px) {
  .widgetspage__col-charts .chart__container {
    display: none;
  }
}