.genre__item {
  width: 45%;
  margin: 1rem 1rem;
  height: 14rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.747);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.637);
}

.genre__item:hover {
  cursor: pointer;
}

.genre__item:active {
  transform: scale(1.03);
}

.genre__image-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
}

.genre__image {
  width: 100%;
  object-fit: cover;
  object-position: center 30%;
  opacity: 0.3;
  overflow: hidden;
}

.genre__image:hover {
  height: 100%;
  transform: scale(1.05);
  overflow: hidden;
  z-index: 2;
  transition: transform 2s;
  opacity: 0.8;
}

.genre__title {
  position: relative;
  height: 20%;
  padding: 1rem 1rem;
  bottom: 27%;
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
  padding: 0.5rem 1.5rem;
  border-top: 1px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.397);
}

.genre__title:hover {
  background-color: rgba(0, 0, 0, 0.397);
}

.genre__title_genre {
  font-size: 20px;
  font-weight: 700;
}

.click_to_view {
  background-color: black;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.747);
}

@media (min-width: 100px) and (max-width: 600px) {
  .genre__item {
    width: 350px;
  }
}





