.black_container {
  width: 44%;
  margin: 1rem 1rem;
  height: 14rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.747);
  display: flex;
  /* flex-grow: 400px; */
  /* align-content: space-between; */
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.856);
  overflow: hidden;
}

.click_to_view-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  align-items: center;
  position: relative;
  top: -100%;
}

.click_to_view-container:hover {
  cursor: pointer;
}

.genre__title-container {
  width: 100%;
  display: flex;
  position: relative;
  top: -50%;
  /* border: 2px solid red; */
}

.bg-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  /* border: 5px solid yellow; */
}

.content {
  width: 100%;
  height: 14rem;
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 7;
}

.genre__item {
  /* border: 2px solid red; */
  /* position: absolute; */
  width: 100%;
  height: 100%;
  opacity: 0.65;
  background-size: cover;
  background-position: 0px -5rem;
}

.genre__item:hover {
  transform: scale(1.1);
  transition: transform 2s;
  opacity: 100%;
  cursor: pointer;
}

.genre__item:active {
  transform: scale(1.01);
}

.genre__title {
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.25rem 1.5rem;
  border-top: 2px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.397);
  width: 100%;
}

.genre__title:hover {
  background-color: rgba(0, 0, 0, 0.397);
}

.genre__title p {
  font-size: 1.1rem;
  font-weight: 800;
}

.click_to_view {
  margin-left: 1rem;
  margin-top: 1rem;
  background-color: black;
  color: wheat;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  width: 5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.747);
}

.growth_indicator {
  width: 6rem;
  font-weight: 700;
  display:flex;
  /* border: 2px solid rosybrown; */
  align-items: center;
  justify-content: space-around;
}

.growth_indicator__icon {
  width: 1.2rem;
  height: 1.2rem;
}

@media (min-width: 500px) and (max-width: 1000px) {
  .black_container {
    width: 500px;
  }
}

  @media (min-width: 100px) and (max-width: 500px) {
    .black_container {
      width: 350px;
    }

}
